<mat-toolbar color="primary">
  <mat-toolbar-row color="primary">
    <span>{{ currentPage.title }}</span>
    <span class="toolbar-right"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <ul class="sidebar-links">
      <ng-container *ngFor="let item of currentPage.sideMenuItems">
        <app-nav-item [item]="item" [isActive]="(token | async) === item.url"></app-nav-item>
      </ng-container>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="sidenave-content">
      <app-ngx-content *ngIf="currentPage.pageName === 'ngx'"></app-ngx-content>
      <app-js-content *ngIf="currentPage.pageName === 'js'"></app-js-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
