.toolbar-right {
  flex: 1 1 auto;
}
.mat-toolbar-row {
  height: 64px;
}
.mat-toolbar-multiple-rows {
  min-height: 64px;
}

.mat-toolbar-multiple-rows {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
}
.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

/* side nav */
.sidenave-content {
  min-height: 100vh;
  padding: 60px 3rem 1rem;
}

.mat-sidenav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mat-sidenav {
  padding-top: 60px;
}

pre {
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  display: block;
  margin: 16px auto;
  overflow-x: auto;
  padding: 20px;
  white-space: pre-wrap;
}
