<mat-toolbar color="primary">
  <mat-toolbar-row color="primary">
    <span>line truncate</span>
    <span class="toolbar-right"></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  <div class="grid-fluid">
    <a class="footer-block" href="https://github.com/DiZhou92"
      ><img alt="Home" height="40" width="40" src="../../assets/toolbar-github.png" title="Github" />
    </a>
    <a class="footer-block" href="https://www.npmjs.com/package/ngx-line-truncation">
      <img alt="Home" height="40" width="60" src="../../assets/npm-logo.png" title="Github" />
    </a>
  </div>
  <p>Created By chaodyz @{{ year }}</p>
</footer>
