footer {
  position: relative;
  line-height: 24px;
  flex: 1;
  padding: 48px;
  z-index: 0;
  background-color: #1976d2;
  color: #fafafa;
  font-weight: 300;
}

footer::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 0 left 0/320px auto,
    url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 80px left 160px/320px auto;
  opacity: 0.05;
}

footer div.grid-fluid {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 0 0 40px;
}

.footer-block {
  margin: 0 24px;
  vertical-align: top;
}

footer p {
  text-align: center;
  margin: 10px 0 5px;
}
