@import '../../../../styles/main.scss';

a.sidebar-link {
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  color: #2c3e50;
  border-left: 0.25rem solid transparent;
  padding: 0.35rem 1rem 0.35rem 1.25rem;
  line-height: 1.4;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2rem;
}

a.sidebar-link.selected {
  font-weight: 600;
  color: $amber-700;
  border-left-color: $amber-700;
}
